@model IEnumerable<OnlineAuctionMVC.Models.Admin>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="background-image: url(/Images/request_bg1.jpg); background-size: cover; height: 550px;">
    <center>
        <h1>Admin Panel</h1>
        <br /><br />
        <div>
            <h4>Admins</h4>
            <table style="width:60%;" class="table table-hover">
                <thread>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Email</th>
                    </tr>
                </thread>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="table-light">
                            <td scope="row">@item.Id</td>
                            <td scope="row">@item.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br /><br /><br />
        <a asp-action="requestedProducts">ViewRequestedProducts</a>&emsp;&emsp;&emsp;
        <a asp-action="viewCategories">ViewCategories&Products</a>&emsp;&emsp;&emsp;
        <a asp-action="viewSellers">ViewSellers&Bidders</a>&emsp;&emsp;&emsp;
        <a asp-action="viewResults">ViewResults</a>
        <br /><br />
        <a href='@ViewBag.login'>Back</a>
        <br /><br />
    </center>
</div>