
@{
    ViewData["Title"] = "Cookie";
}

<div style="background-image: url(/Images/request_bg1.jpg); background-size: cover; ">
    <center>
        <h1>Cookie Policy</h1>
        <br /><br />
        <table style=" width: 70%;">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <b>COOKIES</b>&nbsp;
                    A cookie is a simple text file that is stored on your computer or mobile device by a website’s server and only that server will be able to collect or read the contents of that cookie. Each cookie is unique to your web browser. It will contain some anonymous information such as a unique identifier and the site name and some digits and numbers. It allows a website to learn things like your preferences or what’s in your shopping cart. Using our website will result in us placing cookies on your computer in the 4 categories set out below.
                    <ul>
                        <li>Strictly necessary: These cookies are essential to enable you to move around the website and use its features, such as accessing secure areas of the website; many of the functions on our website will not work properly, or at all, if you do not allow these cookies to be used. We may therefore be unable to provide many of the services you may wish to request unless you accept the use of these cookies.</li>
                        <li>Performance: These cookies collect information about how our users use a website, for example which pages users go to most often. These cookies do not collect information that identifies a user: all information these cookies collect is accumulated and is therefore anonymous. The information is only used to improve how the website works.</li>
                        <li>Functionality: These cookies allow the website to remember preferences you make (such as your language, user name, or the region you are in) and provide enhanced, more personalized characteristics (for instance, remembering changes you have made to text size and fonts).</li>
                        <li>Advertising or Targeting: We sometimes partner with third parties to deliver more relevant advertisements and to gather web statistics. These third parties may use cookies and other tracking technology to monitor your visits to both Luxeford’s and other websites. They monitor your online behavior and identify website usage, helping advertisers to provide you advertising and content that is more relevant to you.</li>
                    </ul>
                    Some examples of what Advertising and Targeting Cookies do:
                    <ul>
                        <li>Provide advertisers with information about your visit to our websites so they can provide you advertising that is relevant to you.</li>
                        <li>Limit the number of times you see an advertisement.</li>
                        <li>Help measure the effectiveness of an advertising campaign.</li>
                    </ul>

                    Please note - none of these cookies store personally identifiable information and we only use trusted advertising partners. Just so you know, these third parties will have their own privacy policies and they may be different from ours.&nbsp;
                </td>
            </tr>
        </table>
        <br /><br />
        <a href="/Home/Index">Home</a>
        <br/><br/>
    </center>
</div>
